
#wrapper{
  width: 100%;
    
}

#play-pause,
#full-screen{
  border: 0;
  background: transparent;
    
}

#video-container {
	position: relative;
    width: 640px;
	height: 365px;
	margin-left: auto;
    margin-right: auto;
}

#textCaptions{
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

#video-controls {
	
  position: absolute;
	bottom: 4%;
	left: 0;
	right: 0;
	opacity: 0;
		
}

#video-container:hover #video-controls {
	opacity: .9;
}

#seek-bar {
  position: absolute;
  bottom: 10px;
  left: 1%;
  right: 0%;
  width: 97%;
  height: 4px;
  
}

#curtimetext{
  position: absolute;
  color: white;
  bottom: 0;
  left: 10%;
  right: 0%;
  visibility: hidden;
  width: 20%;
}

#durtimetext{
  position: absolute;
  color: white;
  bottom: 0;
  left: 18%;
  right: 0%;
  visibility: hidden;
  width: 20%;
}

#video-container:hover #durtimetext{
  position: absolute;
  bottom: 20px; 
  visibility: visible;
}

#video-container:hover #curtimetext{
  position: absolute;
  bottom: 20px; 
  visibility: visible;
}

#video-container:hover #seek-bar{
  position: absolute;
  bottom: 55px;  
}


#play-pause{
  position: absolute;
  left: 20px;
  bottom: 0;
  
}

#subtitles{
  font-size: 16px;
  font-weight: bold;
  background: white;
  position: absolute;
  left: 80%;
  bottom: 0;
}

#full-screen{
  position: absolute;
  bottom: 0;
  left: 93%;
    
}

#mute {
  position:absolute;
  bottom: 0;
  left: 87%;
  /*width: 60px;*/
  background-color: transparent;
  border-style: none; 
  
}


















